.App {
  text-align: center;
}
.container
{
  background-color: lightcyan;
  font-family: 'Roboto', sans-serif;
}
.card
{
  border: transparent;
  border-radius: 15px;
}
.card-price
{
  font-size:xx-large;
}
.month
{
  font-size: large;
}
ul.details
{
  list-style-type: none;
}
span
{
  margin: 7px;
}
li
{
  margin-bottom: 1rem;
}
.text-muted
{
  opacity: 0.5;
}
.btn
{
  border-radius: 15px;
  background-color:#5dbea3;
  color: white;
}
@media (min-width: 500px) 
{
  .card:hover 
  {
    margin-top: -1rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .btn:hover
  {
    background-color: #33b249;
    color: whitesmoke;
  }
}